<%- include('../component/header') %>

    <main class="container my-3"></main>
        <h3 class="fs-3 text-center"><%= produit.titre %></h3>
        <img src="<%= produit.image %>" class="img-fluid" alt="...">
        <p>
            <%= produit.description %>
        </p>
    </main>

<%- include('../component/footer') %>